/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: #222;
  border: 2px solid #fff;
}

.paddle {
  position: absolute;
  width: 10px;
  height: 80px;
  background-color: #fff;
}

#paddle-left {
  left: 10px;
  top: 160px; /* Posição inicial */
}

#paddle-right {
  right: 10px;
  top: 160px; /* Posição inicial */
}

.ball {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
}