.caixa_whidth{
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    border: 2px solid blue;

    width: 296px;




}
.imagem_width{
    width: 300px;
}
.caixa_height{
    border: 3 px dashed greenyellow;
    height: 100px;
    width: 100px;
}